@keyframes floatingIcon {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

header {
  padding: 20px 16px;
  background-color: #00a0f9;
}
header .header-title {
  max-width: 645px;
  margin: 0 auto;
  color: #fff;
  line-height: 30px;
  font-size: clamp(24px, 5vw, 26px);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

main {
  padding: 30px 18px;
}
main .main-title {
  max-width: 645px;
  margin: 0 auto 30px;
  color: #000;
  font-size: clamp(24px, 5vw, 26px);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
main .info-cards-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1210px;
  gap: 20px;
}
main .info-cards-container .info-card1 {
  position: relative;
  width: 100%;
  max-width: 475px;
  margin: 0 auto 20px;
  padding: 20px;
  background-image: linear-gradient(to bottom, #00a0f9, #0077ff);
  border-radius: 10px;
  color: #fff;
  line-height: 30px;
  font-size: clamp(20px, 5vw, 24px);
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
main .info-cards-container .info-card1 .title-card1 {
  margin-bottom: 20px;
  font-size: clamp(24px, 5vw, 26px);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
main .info-cards-container .info-card1 .text-card1 {
  font-weight: 300;
  font-size: clamp(18px, 5vw, 20px);
  font-family: "Montserrat", sans-serif;
}
main .info-cards-container .info-card1 .warning-icon1 {
  width: 80px;
  position: absolute;
  top: -25px;
  right: -15px;
  color: #fff;
  animation: floatingIcon 2s ease-in-out infinite;
}
main .info-cards-container .info-card2 {
  position: relative;
  width: 100%;
  max-width: 475px;
  margin: 0 auto 20px;
  padding: 20px;
  background-image: linear-gradient(to bottom, #00a0f9, #0077ff);
  border-radius: 10px;
  color: #fff;
  line-height: 30px;
  font-size: clamp(20px, 5vw, 24px);
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
main .info-cards-container .info-card2 .title-card2 {
  margin-bottom: 20px;
  font-size: clamp(24px, 5vw, 26px);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
main .info-cards-container .info-card2 .text-card2 {
  font-weight: 300;
  font-size: clamp(18px, 5vw, 20px);
  font-family: "Montserrat", sans-serif;
}
main .info-cards-container .info-card2 .warning-icon2 {
  width: 80px;
  position: absolute;
  top: -25px;
  right: -15px;
  color: #fff;
  animation: floatingIcon 2s ease-in-out infinite;
}
main .consulta-en-linea .main-consulta-title {
  max-width: 645px;
  margin: 20px auto 30px;
  color: #000;
  font-size: clamp(24px, 5vw, 26px);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
main .consulta-en-linea .consulta-card {
  max-width: 460px;
  margin: 0 auto;
  display: flex;
  position: relative;
  background-image: linear-gradient(to bottom, #00a0f9, #0077ff);
  box-shadow: 4px 4px 10px #000;
  padding: 20px;
  border-radius: 8px;
}
main .consulta-en-linea .consulta-card .consulta-content {
  max-width: 300px;
}
main .consulta-en-linea .consulta-card .consulta-content .consulta-title {
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(20px, 5vw, 24px);
  font-weight: bold;
  margin-bottom: 5px;
}
main .consulta-en-linea .consulta-card .consulta-content .consulta-description {
  color: #fff;
  font-size: clamp(18px, 5vw, 20px);
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin-bottom: 20px;
}
main .consulta-en-linea .consulta-card .consulta-content .consulta-button {
  width: 200px;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  color: #000;
  background-color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: clamp(18px, 5vw, 20px);
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
main .consulta-en-linea .consulta-card .consulta-content .consulta-button:hover {
  background-color: #f1f1f1;
}
main .consulta-en-linea .consulta-card .consulta-content .consulta-button:active {
  scale: 0.9;
}
main .social-media .social-media-title {
  max-width: 645px;
  margin: 80px auto 30px;
  color: #000;
  font-size: clamp(24px, 5vw, 26px);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
main .social-media .social-media-container {
  display: flex;
  justify-content: space-evenly;
  max-width: 800px;
  margin: 20px auto;
}
main .social-media .social-media-container .tiktok {
  width: 80px;
}
main .social-media .social-media-container .instagram {
  width: 80px;
}
main .social-media .social-media-container .facebook {
  width: 80px;
}

footer {
  padding: 0 16px 20px;
  background-color: #00a0f9;
}
footer .logos-container {
  display: flex;
  justify-content: center;
  margin-bottom: -25px;
}
footer .logos-container .cristian-logo {
  width: 100%;
  max-width: 150px;
}
footer .logos-container .fabrica-logo {
  width: 100%;
  max-width: 150px;
}
footer .copyright {
  color: #fff;
  font-size: clamp(18px, 5vw, 20px);
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

@media screen and (max-width: 470px) {
  .info-cards-container {
    margin-top: 50px !important;
    gap: 40px !important;
  }
  .info-cards-container .info-card1 .warning-icon1 {
    top: -48px !important;
  }
  .info-cards-container .info-card2 .warning-icon2 {
    top: -48px !important;
  }
}
@media screen and (max-width: 500px) {
  .social-media .social-media-container .tiktok {
    width: 60px !important;
  }
  .social-media .social-media-container .instagram {
    width: 60px !important;
  }
  .social-media .social-media-container .facebook {
    width: 60px !important;
  }
}
@media screen and (min-width: 330px) {
  .consulta-card {
    margin-top: 90px !important;
  }
  .consulta-card .consulta-content {
    z-index: 1;
  }
  .consulta-card .consulta-image {
    display: block !important;
    width: 164px;
    position: absolute;
    right: -10px;
    top: -89px;
  }
}
@media screen and (min-width: 400px) {
  .consulta-image {
    top: -80px !important;
  }
}/*# sourceMappingURL=index.css.map */